/*
 * Button
 * @author mfyance
 */

.button{
    cursor: pointer;
    position: relative;
    width: inherit;
    margin: initial;
    border: none;
    transition: all 0.5s ease;
    background-size: 200% auto;
    text-transform:uppercase;
    border-radius: 10px;
    letter-spacing: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    transition: all 0.2s ease;
    top: 0;
    padding: inherit;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}







.button-primary--is-full{
  width: 100%;
}

.button-primary{
  width: auto;
  padding: 10px
}














.button-secondary {
  display: -webkit-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
}
.button-secondary svg {
  height: 55px;
  width: 150px;
  fill: none;
  stroke-width: 5;
}
.button-secondary svg :hover {
  background: #000;
}
.button-secondary svg .o1 {
  stroke: rgb(255, 147, 0);
  fill: #ff93002b;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.button-secondary svg .o2 {
  stroke: white;
  stroke-dasharray: 20 420;
  stroke-dashoffset: 20;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.button-secondary span {
  position: absolute;
  margin: auto 0;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.button-secondary:hover .o1 {
  fill: rgba(255, 216, 0, 0.17);
  stroke: #ffd000;
}
.button-secondary:hover .o2 {
  stroke-dashoffset: -420;
}











.button-primary:active {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}
.button-primary {
    position: relative;
    z-index: 2;
    color: black;
    background: none;
    padding: 20px 10px;
    letter-spacing: 0px;
}
.button-primary:hover {
    background: none;
}
.button-primary:hover + .button-primary-effect .circle {
    background: #ff7702;
}
.button-primary:hover + .button-primary-effect .button {
    background: #ff7702;
}
.button-primary:active + .button-primary-effect {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}
.button-primary-container {
    position: relative;
    display: inline-block;

}
.button-primary-container .effect-button {
    position: absolute;
    width: 50%;
    height: 25%;
    top: 50%;
    left: 25%;
    z-index: 1;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: linear-gradient(205deg, rgb(255, 216, 0) 25%, rgb(255, 147, 0) 100%);
    -webkit-transition: background 0.1s ease-out;
    transition: background 0.1s ease-out;
}

.button-primary-effect {
    position: absolute;
    display: block;
    width: 200%;
    height: 400%;
    top: -150%;
    left: -50%;
    -webkit-filter: url("#goo");
    filter: url("#goo");
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    pointer-events: none;
}
.button-primary-effect .circle {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background: #ffd600;
    -webkit-transition: background 0.1s ease-out;
    transition: background 0.1s ease-out;
}
.button-primary-effect .circle.top-left {
    top: 40%;
    left: 27%;
}
.button-primary-effect .circle.bottom-right {
    bottom: 40%;
    right: 27%;
}

.button-primary-svg {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
}


.button-primary-container {
    top: 50%;
    margin-top: -25px;
}

