.header {
    background: $bg-primary-color;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 20% 63% 17%;
    align-items: center;
    position: relative;
    z-index: 10;
    width: 100%;
    transition: all 300ms ease;
    @media (max-width: 1186px) {
        grid-template-columns: 20% 62% 18%;
    }
    @media (max-width: 1126px) {
        grid-template-columns: 20% 61% 19%;
    }
    @media (max-width: 1064px) {
        grid-template-columns: 20% 60% 20%;
    }
    @media (max-width: 1018px) {
        grid-template-columns: 19% 60% 21%;
    }
    @media (max-width: 966px) {
        grid-template-columns: 19% 59% 22%;
    }
    @media (max-width: 926px) {
        grid-template-columns: 19% 58% 23%;
    }
    @media (max-width: 890px) {
        grid-template-columns: 19% 57% 24%;
    }
    @media (max-width: 854px) {
        grid-template-columns: 19% 56% 25%;
    }
    @media (max-width: 806px) {
        grid-template-columns: 19% 55% 26%;
    }
    @media (max-width: 774px) {
        grid-template-columns: 19% 54% 27%;
    }
    @media (max-width: 746px) {
        grid-template-columns: 19% 53% 28%;
    }
    @media (max-width: 726px) {
        grid-template-columns: 19% 52% 29%;
    }
    @media (max-width: 686px) {
        grid-template-columns: 19% 51% 30%;
    }
    @media (max-width: 662px) {
        grid-template-columns: 19% 49% 32%;
    }
    @media (max-width: 630px) {
        height: 91px;
        grid-template-columns: 20% 80%;
    }
    @media (max-width: 472px) {
        height: 62px;
    }
    .header__logo {
        height: 54.65px;
        width: 127px;
        margin-left: 20px;
        @media (max-width: 959px) {
            height: 40.65px;
            width: 111px;
        }
        @media (max-width: 930px) {
            height: 34.65px;
            width: 105px;
        }
        @media (max-width: 913px) {
            height: 28.65px;
            width: 99px;
            margin-left: 10px;
        }
        @media (max-width: 893px) {
            height: 22.65px;
            width: 93px;
            margin-left: 8px;
        }
    }
    .main-menu {
        justify-self: right;
        .main-menu__container-items {
            display: grid;
            grid-auto-flow: column;
            align-items: center;
            .main-menu__item {
                position: relative;
                @media (max-width: 630px) {
                    display: none;
                }
                &:hover > {
                    .main-menu__sub {
                        display: grid;
                        z-index: 10;
                    }
                }
                .main-menu__enlace {
                    font-family: $font-secondary;
                    font-size: $font-size-xxs;
                    color: $text-secondary-color;
                    font-weight: 500;
                    line-height: 13px;
                    letter-spacing: 0.06em;
                    margin-left: 18px;
                    transition: all 300ms ease;
                    @media (max-width: 890px) {
                        font-size: 11px;
                    }
                    @media (max-width: 854px) {
                        font-size: 10px;
                    }
                    @media (max-width: 806px) {
                        font-size: 9px;
                    }
                    @media (max-width: 774px) {
                        font-size: 8px;
                        margin-left: 11px;
                    }
                    @media (max-width: 686px) {
                        font-size: 8px;
                        margin-left: 8px;
                    }
                    @media (max-width: 662px) {
                        font-size: 7px;
                    }
                    &:hover {
                        color: #180c14;
                        border-bottom: 1px solid $text-secondary-color;
                    }
                }
                .main-menu__enlace--active {
                    border-bottom: 1px solid $text-secondary-color;
                    display: grid;
                    justify-items: center;
                    align-items: center;
                    align-self: center;
                    margin-bottom: 11px;
                    &::before {
                        content: url("../../_private/img/menu-enlace-activo.svg");
                    }
                }
                .main-menu__sub {
                    background: $text-secondary-color;
                    position: absolute;
                    display: grid;
                    grid-auto-flow: column;
                    width: max-content;
                    padding: 12px 17px 12px 5px;
                    top: 125%;
                    left: -22%;
                    display: none;
                    transition: all 300ms ease;
                    &::before {
                        content: url("../../_private/img/polygon-submenu.svg");
                        position: absolute;
                        top: -31%;
                        left: 13%;
                    }
                    .main-menu__sub-item {
                        text-align: left;
                        margin-left: 18px;
                        a {
                            font-family: $font-secondary;
                            font-size: $font-size-xxs-blog;
                            color: $text-terciary-color;
                            font-weight: 500;
                            line-height: 15px;
                            letter-spacing: 0.06em;
                            @media (max-width: 846px) {
                                font-size: $font-size-xxs;
                            }
                            @media (max-width: 786px) {
                                font-size: 8px;
                            }
                        }
                        &::before {
                            content: url("../../_private/img/list-decoration-submenu.svg");
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
    .btn-ws {
        height: 84px;
        width: 194px;
        background: url("../img/background-btn-ws.svg") no-repeat;
        background-size: contain;
        background-position: center center;
        display: grid;
        grid-auto-flow: column;
        justify-items: center;
        align-items: center;
        justify-self: right;
        transition: all 300ms ease;
        @media (max-width: 630px) {
            display: none;
        }
        &:hover {
            transform: scale(1.1);
        }
        .btn-ws__icon {
            justify-self: right;
        }
        .btn-ws__text {
            font-family: $font-primary;
            font-size: $font-size-xs;
            color: $text-terciary-color;
            font-weight: 700;
            line-height: 19px;
            letter-spacing: 0.06em;
            text-align: left;
            justify-self: left;
            margin: 5px;
        }
    }
}

.btn_menu_movil {
    height: 34px;
    width: 35px;
    border-radius: 3px;
    background: $text-secondary-color;
    margin-right: 20px;
    transition: all 120ms ease;
    @media (max-width: 759px) {
        width: 45px;
        height: 45px;
    }
    @media (max-width: 630px) {
        display: block;
    }
    @media (max-width: 420px) {
        margin-right: 0.5em;
    }
    &:hover {
        transform: scale(1.1);
    }
    .hamburger {
        position: relative;
        top: 24px;
        left: 12px;
        width: 25px;
        height: 2px;
        background: #FFDD00;
        display: block;
        transform-origin: center;
        transition: 0.5s ease-in-out;
        &::before {
            background: #FFDD00;
            content: '';
            display: block;
            transition: 0.5s ease-in-out;
            width: 100%;
            height: 100%;
            position: absolute;
            top: -10px;
        }
        &::after {
            background: #FFDD00;
            content: '';
            display: block;
            transition: 0.5s ease-in-out;
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: -10px;
        }
        @media (max-width: 759px) {
            left: 9px;
            top: 23px;
        }
    }
}

.wvw_movil {
    display: none;
    @media (max-width: 630px) {
        display: block;
    }
}

.nav_movil {
    display: none;
}

.nav_movil-item {
    border-bottom: 1px solid #FFFFFF1A;
    width: 100%;
    padding-bottom: 8px;
    &:hover > .nav-mobil__sub-menu {
        display: block;
    }
    a {
        font-size: $font-size-xs;
        color: $text-terciary-color;
    }
    .nav-mobil__sub-menu {
        list-style-image: url("../../_private/img/deco-list-submenu-mobil.svg");
        margin-left: 10px;
        display: none;
        .sub-menu__item {
            font-weight: 500;
            line-height: 15px;
            letter-spacing: 0.06em;
            text-align: left;
            padding: 10px 1px;
            a {
                font-family: $font-secondary;
                font-size: $font-size-xxs-blog;
                color: $text-terciary-color;
            }
        }
    }
}

.nav_movil-item--border-none {
    border: none;
}

input:checked ~ label .btn_menu_movil {
    box-shadow: 0 0 0 130vw $text-secondary-color, 0 0 0 2000vh $text-secondary-color;
    position: relative;
    z-index: 110;
}

input:checked ~ label .hamburger {
    transform: rotate(45deg);
}

input:checked ~ label .hamburger::before {
    transform: rotate(90deg);
    top: 0 !important;
}

input:checked ~ label .hamburger::after {
    transform: rotate(90deg);
    top: 0;
}

input:checked ~ .nav_movil {
    display: grid;
}

.nav_movil {
    justify-items: left;
    justify-self: center;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    font-size: 45px;
    transition: 0.25s 0.1s cubic-bezier(0, 1.07, 0, 1.02);
    z-index: 120;
    list-style-image: url("../../_private/img/deco-list-mobile.svg");
}

.wvw_movil {
    label {
        display: grid;
        grid-auto-flow: column;
        justify-items: center;
        align-items: center;
        .hamburger-text {
            font-family: $font-secondary;
            font-size: $font-size-xxs;
            color: $quinary-color;
            font-weight: 700;
            line-height: 13px;
            letter-spacing: 0.06em;
            text-align: center;
            position: relative;
            z-index: 120;
            opacity: 0;
            transition: all 300ms;
        }
    }
    .social-media {
        display: grid;
        justify-items: left;
        align-items: start;
        @media (max-width: 1010px) {
            grid-template-rows: 10% 90%;
        }
        @media (max-width: 842px) {
            gap: 2em;
        }
        @media (max-width: 831px) {
            gap: 0.3em;
        }
        @media (max-width: 647px) {
            grid-template-rows: 40% 60%;
        }
        .social-media__title {
            font-family: $font-quartiary;
            font-size: $font-size-xs-blog;
            color: $text-terciary-color;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 0.06em;
            text-align: center;
            align-self: end;
            padding-left: 20px;
            @media (max-width: 1010px) {
                align-self: start;
                text-align: left;
            }
        }
        .social-media__icons {
            display: flex;
            flex-wrap: wrap;
            justify-items: left;
            align-items: start;
            width: 100%;
            height: 144px;
            padding-left: 20px;
            align-self: end;
            gap: 1em;
            @media (max-width: 1150px) {
                gap: 0.4em;
            }
            @media (max-width: 1010px) {
                align-self: start;
            }
            @media (max-width: 647px) {
                height: auto;
                padding-left: 0;
            }
            @media (max-width: 325px) {
                gap: 0.3em;
            }
            .icons-btn {
                width: 42.25px;
                height: 35.21px;
                display: grid;
                justify-content: center;
                align-content: center;
                padding-bottom: 10px;
            }
            .icons-btn--ws {
                background: url("../../_private/img/social-media-panal.svg") no-repeat;
                background-size: contain;
                background-position: center center;
                &::after {
                    content: url("../../_private/img/icons/icon-ws-mobil.svg");
                }
            }
            .icons-btn--facebook {
                background: url("../../_private/img/icons/facebook.svg") no-repeat;
                background-size: contain;
                background-position: center center;
            }
            .icons-btn--messenger {
                background: url("../../_private/img/social-media-panal.svg") no-repeat;
                background-size: contain;
                background-position: center center;
                &::after {
                    content: url("../../_private/img/icons/icon-messenger-mobil.svg");
                }
            }
            .icons-btn--instagram {
                background: url("../../_private/img/icons/instagram.svg") no-repeat;
                background-size: contain;
                background-position: center center;
            }
            .icons-btn--linkedin {
                width: 42.25px;
                height: 35.21px;
                padding: 0;
                margin-top: 4px;
                &::after {
                    content: url("../../_private/img/icons/icon-linkedin-mobil.svg");
                }
            }
            .icons-btn--behance {
                background: url("../../_private/img/icons/behance.svg") no-repeat;
                background-size: contain;
                background-position: center center;
            }
            .icons-btn--web {
                background: url("../../_private/img/icons/web.svg") no-repeat;
                background-size: contain;
                background-position: center center;
            }
            .icons-btn--email {
                background: url("../../_private/img/social-media-panal.svg") no-repeat;
                background-size: contain;
                background-position: center center;
                &::after {
                    content: url("../../_private/img/icons/icon-email-mobil.svg");
                }
            }
        }
    }

}

input:checked ~ label .hamburger-text {
    opacity: 1;
}

.hide {
    display: none;
}
