
.button {
    border: none;
    padding: 10px 15px;
    text-align: center;
    letter-spacing: 1.5px;
    font-family: $font-primary;
}

.button-primary {
    height: 70px;
    width: 312px;
    border-radius: 10px;
    border: 1px solid $secondary-color;
    box-shadow: 0 14px 24px 0 #381C3417;
    background: $bg-primary-color;
    font-family: $font-secondary;
    font-size: $font-size-xx;
    color: $text-primary-color;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0;
    text-align: center;
    position: relative;
    margin-left: 2em;
    transition: all 300ms ease;
    @media (max-width: 812px) {
        height: 53px;
        width: 271px;
        font-size: $font-size-md;
    }
    @media (max-width: 705px) {
        height: 47px;
        width: 221px;
        text-align: right;
        font-size: $font-size-xs;
    }
    @media (max-width: 624px) {
        height: 47px;
        width: 196px;
        text-align: right;
        font-size: 14px;
    }
    &:hover {
        transform: scale(1.1);
    }
    &::after {
        content: 'Empecemos ahora';
    }
    .bg-icon {
        background: url("../../_private/img/icons/bg-icon-empecemos.svg") no-repeat;
        background-size: contain;
        display: grid;
        justify-content: center;
        align-content: center;
        height: 70px;
        width: 84px;
        position: absolute;
        top: -1%;
        left: -18%;
        &::after {
            content: url("../../_private/img/icons/icon-empecemos.svg");
        }
        @media (max-width: 812px) {
            height: 59px;
            width: 74px;
            top: -4%;
            left: -17%;
        }
        @media (max-width: 705px) {
            height: 70px;
            width: 68px;
            top: -6%;
            left: -15%;
        }
    }
}

.ver-detalle {
    height: 41px;
    width: 145px;
    border-radius: 10px;
    border: 1px solid $text-primary-color;
    background: $bg-quinary-color;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 20% 80%;
    align-items: center;
    font-family: $font-secondary;
    font-size: $font-size-xs;
    color: $text-primary-color;
    font-weight: 700;
    letter-spacing: 0;
    text-align: center;
    z-index: 6;
    .hexa-btn {
        background: url("../../_private/img/hexa-section-btn.svg") no-repeat;
        background-size: cover;
        background-position: center center;
        width: 49.2px;
        height: 41px;
        position: relative;
        left: -48%;
        box-shadow: 0 14px 24px 0 #381C3417;
        &::after {
            content: url("../../_private/img/icons/icon-hexa-btn.svg");
        }
    }
    &::after {
        content: 'Ver detalle';
    }
    &:hover {
        transform: scale(1.1);
    }
}

.btn-ver-mas {
    height: 69px;
    width: 301px;
    border-radius: 10px;
    position: relative;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    box-shadow: 0 14px 24px 0 #381C3417;
    background: $bg-primary-color;
    position: relative;
    font-family: $font-secondary;
    font-size: $font-size-xx;
    color: $text-primary-color;
    font-weight: 700;
    letter-spacing: 0;
    text-align: center;
    transition: all 300ms ease;
    &::after {
        content: 'Ver más ahora';
    }
    &:hover {
        transform: scale(1.1);
    }
}

.btn-ver-especialidades {
    height: 70px;
    width: 322px;
    border-radius: 10px;
    border: 1px solid $text-primary-color;
    position: relative;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    font-family: $font-secondary;
    font-size: $font-size-xx;
    color: $text-primary-color;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0;
    text-align: center;
    margin: 0 auto;
    grid-template-columns: 15% 85%;
    transition: all 300ms ease;
    .hexa-btn {
        background: url("../../_private/img/hexa-section-btn.svg") no-repeat;
        background-size: cover;
        background-position: center center;
        width: 84.41px;
        height: 70.34px;
        position: relative;
        left: -48%;
        box-shadow: 0 14px 24px 0 #381C3417;
        &::after {
            content: url("../../_private/img/icons/icon-ver-especialidades.svg");
        }
    }
    &::after {
        content: 'Ver especialidades';
    }
    &:hover {
        transform: scale(1.1);
    }
}

.btn-contactanos {
    height: 70px;
    width: 252px;
    border-radius: 10px;
    border: 1px solid #FFD500;
    background: $bg-primary-color;
    font-family: $font-secondary;
    font-size: $font-size-xx;
    color: $text-primary-color;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0;
    text-align: center;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 25% 75%;
    justify-items: center;
    align-items: center;
    transition: all 300ms ease;
    position: relative;
    z-index: 6;
    &::after {
        content: 'Contáctanos';
    }
    &:hover {
        transform: scale(1.1);
    }
    .content-btn-img {
        background: url("../../_private/img/img-btn-contact.svg") no-repeat;
        background-size: contain;
        background-position: center center;
        width: 84.41px;
        height: 70.34px;
        display: grid;
        justify-content: center;
        align-content: center;
        position: relative;
        left: -22%;
        &::after {
            content: url("../../_private/img/icons/icon-btn-contact.svg");
        }
    }
}

.btn-enterate-de-mas {
    height: 70px;
    width: 339px;
    border-radius: 10px;
    border: 1px solid $text-primary-color;
    background: $bg-primary-color;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 15% 85%;
    align-items: center;
    justify-items: center;
    font-family: $font-secondary;
    font-size: $font-size-xx;
    color: $text-primary-color;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0;
    text-align: center;
    margin: 3em auto;
    transition: all 300ms ease;
    @media (max-width: 400px) {
        width: 80%;
    }
    .btn-enterate-de-mas__img {
        background: url("../../_private/img/hexa-section-btn.svg") no-repeat;
        background-size: contain;
        background-position: center center;
        width: 84.41px;
        height: 70.34px;
        position: relative;
        left: -25%;
        display: grid;
        justify-items: center;
        align-items: center;
        &::after {
            content: url("../../_private/img/icons/icon-ver-especialidades.svg");
        }
    }
    &::after {
        content: 'Enterate de más aquí';
    }
    &:hover {
        transform: scale(1.1);
    }
}

.btn-siguiente {
    height: 34px;
    width: 123px;
    border-radius: 10px;
    border: 1px solid #582D4E;
    background: $bg-primary-color;
    box-shadow: 0 14px 24px 0 #381C3417;
    font-family: $font-secondary;
    font-size: $font-size-xxs-contactanos;
    color: $text-primary-color;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0;
    text-align: center;
    transition: all 300ms ease;
    &::after {
        content: 'Siguiente';
    }
    &:hover {
        transform: scale(1.1);
    }
}

.btn-siguiente-disable {
    height: 34px;
    width: 123px;
    border-radius: 10px;
    border: 1px solid #7B7B7B;
    background: $bg-primary-color;
    box-shadow: 0 14px 24px 0 #381C3417;
    font-family: $font-secondary;
    font-size: $font-size-xxs-contactanos;
    color: $text-primary-color;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0;
    text-align: center;
    cursor: default;
    &::after {
        content: 'Siguiente';
    }
}

.btn-quiero-enviarlo {
    height: 70px;
    width: 273px;
    border-radius: 10px;
    border: 1px solid $quinary-color;
    background: $bg-primary-color;
    font-family: $font-secondary;
    font-size: $font-size-xx-contactanos;
    color: $text-primary-color;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0;
    text-align: center;
    transition: all 300ms ease;
    &::after {
        content: 'Quiero enviarlo';
    }
    &:hover {
        transform: scale(1.1);
    }
}
