/*
 * Design Tokens
 * @author mfyance
 */

:root{
    --layout-max: 1700px;
    --color-black: #000;    
    --color-primary: #582D4E;    
    --color-secondary: #fedd04;
    --color-terciary: #9D6F93;
    --color-grey:#E4E4E4;
    --color-error:#ff0909;
    --color-success:#44ca8d;
    --color-info:#dbae5b;
    --font-primary: 'Mont';
    --font-oxygen: Oxygen;
    --font-secondary: 'Mont Heavy';
    --font-fredoka: Fredoka One;
    --font-size-xxs: 20px;
    --font-size-xs: 3vw;
    --font-size-md: 4vw; 
    --font-size-lg: 5vw;
    --font-size-xl: 6vw;
    --font-size-xxl: 7vw; 
}


