/*
 * Fonts
 * @author mfyance
 */

@font-face {
    font-family: 'brown-bold';
    src: url('../../fonts/brown-bold.woff2') format('woff2'),
         url('../../fonts/brown-bold.woff') format('woff');
}

@font-face {
    font-family: 'brown-light';
    src: url('../../fonts/brown-light.woff2') format('woff2'),
         url('../../fonts/brown-light.woff') format('woff');
}

@font-face {
    font-family: Gotham;
    src: url(../../fonts/gothambook-webfont.woff) format('woff'),
         url(../../fonts/gothambook-webfont.woff2) format('woff2'),
         url(../../fonts/GothamBook.ttf) format('ttf');
}

