
.btn_primary {
    color: $text-primary-color;
    width: 278px;
    height: 49px;
    line-height: 49px;
    background: $bg-secondary-color;
    border-radius: $border-radius;
    box-shadow: 0 14px 24px 0 $bg-primary-color 9%;
    font-family: $font-family-primary;
    font-weight: 800;
    font-size: $font-size-md;
    text-align: Center;
    letter-spacing: 23%;
    display: inline-block;
    text-transform: uppercase;
    transition: all 150ms ease;
    z-index: 10;
    &::before {
        content: "¡ESTOY LISTO PARA EMPEZAR!";
    }
    &:hover {
        background: $bg-primary-color;
        color: $text-secondary-color;
        transform: scale(1.1);
    }
}

.btn-secondary {
    
    background: $bg-primary-color;
    font-family: $font-family-primary;
    color: $text-secondary-color;
    border-radius: $border-radius;
    display: inline-block;
    text-transform: uppercase;
    font-size: $font-size-md;
    font-style: normal;
    font-weight: 800;
    line-height: 39px;
    letter-spacing: 0.23em;
    text-align: center;
    position: relative;
    z-index: 10;
    transition: all 0.3s ease;
    padding: 10px 40px;

    &::before {
        content: "¡MIRA LA HISTORIA!";
    }
    &::after {
        content: url("../img/icons/arrow-down.svg");
        position: absolute;
        right: 5%;
    }
    &:hover {
        background: $color-quaternary;
        color: $text-secondary-color;
        transform: scale(1.1);
    }
}

.close-btn {
    height: 39px;
    width: 40px;
    border-radius: $border-radius;
    background: $bg-primary-color;
    position: relative;
    display: grid;
    justify-content: center;
    align-content: center;
    left: 40px;
    margin-bottom: 1em;
    transition: all 0.3s ease;
    z-index: 3;
    margin-top: 6em;
    &:hover {
        background: $color-quaternary;
    }
}



.vid_btn {
    white-space: nowrap;
    border-radius: $border-radius;
    font-family: $font-family-primary;
    font-size: $font-size-md;
    font-style: normal;
    font-weight: 700;
    color: $text-secondary-color;
    letter-spacing: 0.1em;
    text-align: center;
    background: #582D4E80;
    border-style: none;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
    padding: 14px 50px;
    position: absolute;
    top: 72%;
    left: calc(22% - 25px);
    transition: all .3s ease;
    &:hover {
        background: $color-quaternary;
        color: $text-secondary-color;
        transform: scale(1.1);
    }
    &::before {
        content: 'Dale play';
    }
    @media(max-width: 1500px) {
        left: calc(23% - 25px);
    }
    @media(max-width: 1300px) {
        left: calc(22% - 25px);
    }
    @media(max-width: 1300px) {
        left: calc(20% - 25px);
    }
    @media(max-width: 1150px) {
        left: calc(19% - 25px);
    }
}



.second {
    display: none;
}

.buttons {
    margin-top: 5px;
    width: 320px;
    text-align: center;
}
