@import "./menuBurguer";
@import "./tabs";
@import "./section";
@import "./accordion";
@import "./button";
@import "./carousel";



layout,
menu,
article,
aside,
footer,
header,
nav,
section {
    display: block;
}


html,
body {
    height: inherit;
    width: 100%;
    background: #fff;   
}


html {
    width: 100%;
    font-size: 62.5%;
}


body {
    font-family: $font-family-primary;
    color: $text-primary-color;
    background: #fff;
    overflow: hidden;
    -webkit-transition: background .3s ease-in-out;
    -o-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}


h2 {
  font-family: $font-family-primary;
  font-Weight: 800;
  font-size: 35px;
  color: $text-primary-color;
}


section {
    position: relative;
}


[layout-max] {max-width: $max-layout;margin: 0 auto;display: flex;justify-content: center;}