/*
 * Menu
 * @author mfyance
 */

menu{
	display: inline-flex;
	width: 100%;
	text-align: right;
	align-items: center;
	justify-content: flex-end;
}
.menu-li:hover:not(.menu-li-action){
	border-width: 2px
}
.menu-li:not(.menu-li-action){
	padding: 0 10px;
	display: inline-flex;
}
.menu-li{
	font: var(--font-size-md) var(--font-primary);
	color: var(--color-primary);
	border-bottom-width:0px;
	border-bottom-color: var(--color-secondary);
	border-bottom-style: solid;
	cursor: pointer;
	display: inline-block;	
	margin: 0;
}

.site-logo{
	max-width: 200px
}