

@font-face {
    font-family: 'Mont-heavy';
    src: url('../../_private/fonts/mont/mont-heavy-webfont.woff2') format('woff2'),
         url('../../_private/fonts/mont/mont-heavy-webfont.woff') format('woff');
}


@font-face {
    font-family: 'Mont-semibold';
    src: url('../../_private/fonts/mont/mont-semibold-webfont.woff2') format('woff2'),
         url('../../_private/fonts/mont/mont-semibold-webfont.woff') format('woff');
}


@font-face {
    font-family: 'montserrat';
    src: url('../../_private/fonts/montserrat/montserrat-light-webfont.woff2') format('woff2'),
         url('../../_private/fonts/montserrat/montserrat-light-webfont.woff') format('woff');
}


@font-face {
    font-family: 'graphit';
    src: url('../../_private/fonts/graphit/graphit-regular-webfont.woff2') format('woff2'),
         url('../../_private/fonts/graphit/graphit-regular-webfont.woff') format('woff');
}