/*
 * Search
 * @author mfyance
 */

search{
	display: flex;
	width: 500px;
	position: relative;
	margin-left: auto;
}
search svg{
	position: absolute;
	top: 6px;
	left: 10px;
}
.search:focus{
	border-color: 	var(--color-primary)
}
.search{
	padding: 10px;
	border: 1px solid var(--color-grey);
	width: 100%;
	border-radius: 20px;
	transition: all .3s ease;
	font: 15px var(--font-primary);
	color: var(--color-grey-black);
	padding-left: 50px;
}

.search::placeholder{
	color: var(--color-grey-light) !important
}