

.site-header-blog {
    grid-template-columns: 30% 70% !important;
    padding: 3em;
}


.site-header-blog::before {
    content: url(../../img/chile-blog.svg);
    top: 184%;
}


.site-logo {
    display: grid;
    grid-auto-flow: row;
    gap: 1em;
}


.logo-contenedor-blog::after {
    display: none;
}


.menu-principal-blog {
    top: 2%;
    width: 100%;
    left: -5%
}


.menu-blog {
    color: #393939;
    font-size: 15px;
}


/*---seccion 1---*/

.blog-seccion-1 {
    border-right: 3px solid #EDEDED;
    padding: 0 3.5em 3.5em 3.5em;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 60% 40%;
    gap: 4em;
    position: relative;
}


.blog-seccion-1::before {
    content: url(../../img/especia.svg);
    position: absolute;
    top: 69%;
    right: 0;
}


.blog-seccion-1::after {
    content: url(../../img/oregano-seccion-1.svg);
    position: absolute;
    left: 42%;
    bottom: -3%;
}


.contenedor-busqueda-recomendado::after {
    content: url(../../img/hoja-blog.svg);
    position: absolute;
    right: 21%;
    top: 76%;
}

.leer-mas {
    position: relative;
    padding: .5em;
    border-bottom: 1px solid var(--color-primary);
    font-weight: 700;
}


.flecha-verde {
    margin-left: .5em;
}


.contenedor-principal-entradas {
    display: grid;
    grid-auto-flow: row;
    gap: 3em;
    border-right: 3px solid #EDEDED;
    padding-right: 4em;
}


.contenedor-entrada-destacada {
    display: grid;
    grid-auto-flow: row;
    gap: 1em;
    justify-items: left;
    width: 100%;
    border: 2px solid #EDEDED;
    border-radius: 27px;
    width: 100%;
    max-width: 298px;
}


.contenedor-img-entrada-destacada {
    width: 100%;
    height: auto;
    background: #C4C4C4;
    border-radius: 27px 27px 0px 0px;
    min-height: 284px;
    max-height: 381px;
    min-width: 527px;
    z-index: 100;
}


.contenedor-titulo-entrada-destacada {
    padding: 3em;
}


.contenedor-titulo-entrada {
    width: 100%;
    border-top: 3px solid #EDEDED;
    gap: .4em;
}


.contenedor-entrada {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 100%;
    max-width: 623px;
}


.contenedor-numero-paginas {
    display: grid;
    grid-auto-flow: column;
    gap: .5em;
    width: 15%;
    margin: 0 auto;
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: #C4C4C4;
}


.contenedor-numero-paginas::before {
    content: url(../../img/flecha-verde-2.svg);
}


.contenedor-numero-paginas::after {
    content: url(../../img/flecha-gris.svg);
}


.numero-paginas {
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0 auto;
    color: #393939;
}


.contenedor-img-entrada {
    width: 100%;
    height: 100%;
    background: #C4C4C4;
    border-radius: 27px 0px 0px 27px;
}


.contenedor-fecha-entrada {
    display: grid;
    grid-auto-flow: row;
}


.contenedor-titulo-entrada {
    display: grid;
    grid-auto-flow: row;
}


.fecha-entrada {
    display: grid;
    position: relative;
    grid-auto-flow: column;
    padding: 0 0 0 5em;
    gap: 4em;
}


.fecha-texto::before {
    content: url(../../img/icons/icon-calendario.svg);
    position: absolute;
    left: -21%;
}


.categorias-texto::before {
    content: url(../../img/icons/icon-etiqueta.svg);
    position: absolute;
    left: -21%;
}


.fecha-texto-destacada::before {
    left: -28%;
}


.fecha-recomendado::before {
    left: -27%;
}


.contenedor-titulo-entrada {
    display: grid;
    grid-auto-flow: row;
    justify-items: left;
}


.titulo-entrada {
    padding: .2em 0;
}


.busqueda-input {
    padding: 2em;
}


.busqueda-input::placeholder {
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    color: #ABABAB;
}


.contenedor-busqueda {
    display: grid;
    grid-auto-flow: row;
    gap: 1em;
    height: auto;
    max-height: 279px;
}


.contenedor-input-busqueda {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 340px;
}


.contenedor-input-busqueda::after {
    content: url(../../img/icons/busqueda-lupa-input.svg);
    position: absolute;
    right: 6%;
    top: 24%;

}


.lista-categorias {
    list-style-image: url('../../img/icons/icon-etiqueta.svg');
    padding: 2.5em;;
}


.categorias {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #393939;
    padding: .2em;
}


.contenedor-busqueda-recomendado {
    display: grid;
    grid-auto-flow: row;
    gap: 2em;
    height: auto;
    max-height: 1044px;
    padding: 2em;
}


.contenedor-fecha-titulo-entrada {
    display: grid;
    gap: 1em;
    padding: 1em;
}


.contenedor-recomendado {
    display: grid;
    grid-auto-flow: row;
    gap: 3em;
    height: auto;
    max-height: 617px;
}


.img-recomendado {
    border-radius: 9px 0px 0px 9px;
}


.titulo-recomendado {
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    padding: .5em 0 0 0;
}


.descripcion-recomendado {
    font-family: Gotham;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
    width: 94%;
}


.fecha-contenedor-recomendado {
    padding-left: 2.5em;
    gap: 0.5em;
}


.fecha-recomendado {
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #393939;
}

/*---------------*/


/*----responsive design-----*/



@media (max-width: 400px) {
    
    .blog-seccion-1 {
        padding: 0;
    }


    .contenedor-titulo-entrada-destacada {
        padding: .5em;
    }


    .contenedor-img-entrada-destacada {
        min-height: 284px;
        max-height: 381px;
    }


    .contenedor-img-entrada {
        min-height: 230px;
        max-height: 298px;
        min-width: 216px;
    }


    .contenedor-numero-paginas {
        width: 41%;
        margin: 0 auto;
        font-size: 19px;
    }


    .titulo-entrada,
    .titulo-entrada-destacada {
        font-size: 25px;
        text-align: center;
    }

}


@media (max-width: 582px) {


    .site-header-blog {
        grid-template-columns: 1fr !important;
        padding: 3.5em 1em;
    }


    .menu-principal-blog {
        top: 2%;
        width: 100%;
    }


    .menu-movil-blog {
        font-size: 15px !important;
        margin-right: .5em;
    }


    .menu-blog {
        color: #fff !important;
        font-size: 23px !important;
    }


    .blog-seccion-1::after {
        left: 42%;
        bottom: -4%;
    }


    .contenedor-entrada {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        width: 100%;
        max-width: 298px;
        gap: 2em;
    }


    .contenedor-img-entrada {
        border-radius: 27px 27px 0px 0px;
        min-height: 240px;
        max-height: 247px;
    }


    .contenedor-busqueda-recomendado {
        max-height: 1918px;
        min-height: 1836px;
        padding: 10px;
    }


    .contenedor-recomendado {
        max-height: initial;
    }


    .img-recomendado {
        max-width: initial !important;
    }


    .contenedor-busqueda-recomendado::after,
    .blog-seccion-1::before {
        display: none;
    }


    .boton-segundario-blog {
        padding: 6px 1px 3px;
        left: -39% !important;
        top: 84% !important;
    }


    .boton-segundario-blog li {
        margin-left: 5.5em !important;
        font-size: 8px !important;
        margin-top: .3em;
    }


    .menu-blog,
    .menu-movil-btn {
        font-size: 18px;
    }


    .menu-movil-blog span {
        display: none;
    }


}


@media (max-width: 692px) and (min-width: 583px) {

    .site-header-blog {
        grid-template-columns: 1fr !important;
    }


    .titulo-entrada {
        font-size: 20px;
    }


    .fecha-entrada {
        padding: 0 0 0 3em;
        gap: 2em;
    }


    .fecha-texto, .categorias-texto {
        font-size: 10px;
    }


    .contenedor-img-entrada {
        max-height: 224px;
    }


    .texto-entrada {
        font-size: 13px;
    }


    .numero-paginas {
        font-size: 16px;
    }


    .categorias {
        font-size: 18px;
    }


    .busqueda-texto {
        font-size: 21px;
    }


    .recomendado-texto {
        font-size: 21px;
        padding-top: 1em;
    }


    .contenedor-busqueda-recomendado::after {
        top: 70% !important;
    }


    .blog-seccion-1::before {
        top: 63% !important;
    }


    .blog-seccion-1::after {
        left: 45%;
        bottom: -5%;
    }

}


@media (max-width: 900px) {


    .contenedor-principal-entradas {
        padding-right: 0;
        margin: 0 auto;
    }


    .blog-seccion-1 {
        gap: 5em;
        grid-auto-flow: row;
        grid-template-columns: 1fr;
    }

    .menu-movil-blog {
        color: #393939;
        left: 10% !important;
        font-size: 15px !important;
        margin-right: .5em;
    }


    .contenedor-busqueda-recomendado::after {
        top: 73%;
    }


    .descripcion-recomendado {
        font-size: 14px;
    }


    .img-recomendado {
        max-width: 281px;
    }


    .contenedor-recomendado {
        padding: 1em;
    }

}


@media (max-width: 975px) and (min-width: 901px) {


    .blog-seccion-1 {
        gap: .2em;
    }


    .contenedor-entrada {
        min-width: 355px;
    }


    .contenedor-entrada-recomendado {
        max-width: 623px;
        min-width: 365px;
        min-height: 211px;
    }


    .contenedor-img-entrada-destacada {
        min-width: 499px;
    }


    .contenedor-img-entrada {
        max-height: 237px;
    }


    .img-recomendado {
        max-height: 179px;
    }
    
    
    .titulo-entrada {
        font-size: 21px;
    }


    .fecha-texto,
    .categorias-texto {
        font-size: 9px;
    }


    .fecha-entrada {
        padding: 0 0 0 2em;
    }

}


@media (max-width: 1011px) and (min-width: 976px) {

    .titulo-entrada,
    .titulo-entrada-destacada {
        font-size: 23px;
    }


    .contenedor-img-entrada-destacada {
        min-width: 526px;
    }


    .contenedor-img-entrada {
        max-height: 233px;
    }


    .img-recomendado {
        border-radius: 9px 0px 0px 9px;
        max-height: 175px;
    }
    

    .fecha-entrada {
        padding: 0 0 0 2em;
    }


    .fecha-texto,
    .categorias-texto {
        font-size: 11px;
    }


    .fecha-recomendado {
        font-size: 1px;
    }


}


@media (max-width: 1105px) and (min-width: 1012px) {


    .blog-seccion-1 {
        padding: 1em 2em 1em 1em;
        gap: 3em;
    }


    .menu-principal-blog {
        top: 17%;
        width: 87%;
        left: 1%;
    }


    .menu-blog {
        font-size: 11px;
    }


    .contenedor-img-entrada-destacada {
        max-width: 551px;
    }


    .contenedor-img-entrada {
        max-height: 238px;
    }


    .contenedor-entrada {
        max-width: 607px;
    }


    .titulo-entrada {
        font-size: 22px;
    }

    .texto-entrada {
        font-size: 12px;
    }


    .fecha-entrada {
        padding: 0 0 0 2em;
    }
    
    
    .fecha-texto, .categorias-texto {
        font-size: 11px;
    }


    .fecha-recomendado {
        font-size: 9px;
    }


    .contenedor-numero-paginas {
        font-size: 17px;
    }


    .numero-paginas {
        font-size: 17px;
    }


    .img-recomendado {
        max-height: 155px;
        height: 100%;
    }


    .contenedor-busqueda-recomendado {
        gap: 0em;
    }


    .contenedor-input-busqueda {
        max-width: 274px;
    }


    .categorias {
        font-size: 16px;
    }


    .busqueda-texto,
    .recomendado-texto {
        font-size: 19px;
    }


    .contenedor-busqueda-recomendado::after {
        top: 82%;
    }


    .blog-seccion-1::before {
        top: 77%;
    }


}


@media (min-width: 1200px) {

    .contenedor-img-entrada-destacada {
        min-width: 610px;
    }

}