
$layout-max: 1700px;

  //font family

$font-primary: Mont-heavy;
$font-secondary: Mont-semibold;
$font-tertiary: montserrat;
$font-quartiary: graphit;



 //font size

$font-size-xxl: 32px;
$font-size-xx: 24px;
$font-size-md: 20px;
$font-size-xs: 17px;
$font-size-xxs: 12px;

$font-size-title-xxl: 55px;
$font-size-title-xx: 43px;
$font-size-title-md: 38px;
$font-size-title-xs: 36px; 
$font-size-title-xxs: 34px; 

$font-size-md-blog: 19px;
$font-size-xs-blog: 18px;
$font-size-xxs-blog: 13px;


$font-size-title-md-blog: 28px;
$font-size-title-xxl-blog: 55px;
$font-size-title-xs-blog: 30px;


$font-size-md-home: 35px;
$font-size-xs-home: 29px;
$font-size-xxs-home: 14px;

$font-size-xx-nosotros: 23px;
$font-size-md-nosotros: 18px;
$font-size-xs-nosotros: 15px;
$font-size-xxs-nosotros: 14px;

$font-size-xxl-contactanos: 50px;
$font-size-xx-contactanos: 23px;
$font-size-md-contactanos: 35px;
$font-size-xs-contactanos: 15px;
$font-size-xxs-contactanos: 14px;


$font-size-xxl-servicios: 50px;
$font-size-xx-servicios: 23px;
$font-size-md-servicios: 35px;
$font-size-xs-servicios: 15px;
$font-size-xxs-servicios: 14px;


$font-size-xxl-especialidades: 50px;
$font-size-xx-especialidades: 23px;
$font-size-md-especialidades: 18px;
$font-size-xs-especialidades: 15px;
$font-size-xxs-especialidades: 14px;


$font-size-xxl-productos: 50px;
$font-size-xx-productos: 23px;
$font-size-md-productos: 18px;
$font-size-xs-productos: 15px;
$font-size-xxs-productos: 14px;

  //colors

$text-primary-color: #582D4E;
$text-secondary-color:#63294E;
$text-terciary-color: #fff;
$text-quartiary-color:#1C6A85;
$text-quinary-color:#7B7B7B;

$primary-color: #582D4E;
$secondary-color: #FFD500;
$tertiary-color: #843268;
$terciary-color: #f6fdff;
$quartiary-color: #6D1A53;
$quinary-color:#FFDD00;
$senary-color: #A9A9A9;
$septenary-color: #F9F8FD;
$octonary-color: #FFD700;
$white: #fff;

$bg-primary-color: #fff;
$bg-secondary-color: #24B9EC;
$bg-terciary-color: #F1FBFF;
$bg-quartiary-color: #E5E5E5;
$bg-quinary-color: #F9F8FD;


$btn-hover-primary: #F5F5F5;

$border-primary: #C1EFFF;
$border-secondary-color: #24b9ec;

  //font-weight

  $font-weight-bold: bold;