/*
 * Burger
 * @author mfyance
 */

burger {
    font: inherit;
    display: inline-block;
    overflow: visible;
    margin: 0;
    padding: 10px;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .5s;
    transition-property: all;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    transform: scale(0.8)
}
.burger-content {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}
.burger-content-inner {
    top: 50%;
    display: block;
    margin-top: -2px;
}
.burger-content-inner,
.burger-content-inner:after,
.burger-content-inner:before {
    position: absolute;
    width: 100%;
    height: 4px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: var(--color-primary);
}
.burger-content-inner:before {
    top: -10px;
}
.burger-content-inner:after,
.burger-content-inner:before {
    display: block;
    content: "";
}
.burger-content-inner:after {
    bottom: -10px;
}
[burger-status="true"] .burger-content-inner:before {
    transform: translate3d(8px,0,0) rotate(45deg) scaleX(.7);
}
[burger-status="true"] .burger-content-inner,
[burger-status="true"] .burger-content-inner:after,
[burger-status="true"] .burger-content-inner:before {
    background-color: var(--color-primary);
}
[burger-status="true"] .burger-content-inner:after {
    transform: translate3d(8px,0,0) rotate(-45deg) scaleX(.7);
}
[burger-status="true"] .burger-content-inner {
    transform: rotate(-180deg);
}
burger:hover{
    background: var(--color-primary);
    transform: scale(0.9)
}
burger:hover .burger-content-inner,
burger:hover .burger-content-inner:after,
burger:hover .burger-content-inner:before{
    background-color: white;
}